{% extends 'layout.twig' %}

{% block title %}{{ parent() }} | New Customer{% endblock %}

{% block body %}

<a href="#">Back</a>
    <table id="pink">
        <td>
            <h2>New Customer</h2>
            <form action="#" method="post" name="#" id="#" enctype= "#">
                <table bgcolor="white">
                    <tr>
                        <th colspan="2"></th>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td><input type="text" name="" id=""></td>
                    </tr>
                    <tr>
                        <td>IC</td>
                        <td><input type="text" name="" id=""></td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td>
                        <textarea type="input" rows="4">

                        </textarea></td>
                    </tr>
                    <tr>
                        <td>Phone Number</td>
                        <td><input type="text" name="" id="" value=""></td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td><input type="text" name="" id=""></td>
                    </tr>
                    <tr>
                        <td colspan="2"><input type="submit" name=""value="Submit">
                    </tr>
                    </tr>
                </table>
            </form>
        </td>
    </table>

{% endblock %}